{{> navbar}}

<div class="row">
  <div class="col-md-6">
    <h2>Work Order</h2>

    <form class="form workOrder-form">
      <div class="form-group">
        <label for="name-workOrder">Customer Name:</label>
        <input class="form-input" type="text" id="name-workOrder" />
      </div>
      <div class="form-group">
        <label for="zip-workOrder">Customer Zip:</label>
        <input class="form-input" type="text" id="zip-workOrder" />
      </div>
      <div class="form-group">
        <label for="make-workOrder">Car Make:</label>
        <input class="form-input" type="text" id="make-workOrder" />
      </div>
      <div class="form-group">
        <label for="model-workOrder">Car Model:</label>
        <input class="form-input" type="text" id="model-workOrder" />
      </div>
      <div class="form-group">
        <label for="issue-workOrder">Tell us what issues your car is
          experiencing:</label>
        <input class="form-input" type="text" id="issue-workOrder" />
      </div>
      <div class="form-group">
        <label for="service-workOrder">Tell us what service you are requesting:</label>
        <input class="form-input" type="text" id="service-workOrder" />
      </div>
      <div class="form-group">
        <label for="image-workOrder">Upload any relevant picture:</label>
        <input
          class="form-input"
          type="file"
          accept="image/*"
          id="image-workOrder"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form> 
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</div>

{{> footer}}

<script src="./public/js/workOrder.js"></script>