* {
  font-family: 'PT Sans', sans-serif;  
}


#intro {
  background-image: url("../images/tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.navbar-custom {
  background-color: #090e47;
}

.navbar-brand {
  color: white;
  font-size: 40px !important;
}

.nav-link {
  color:white;
}



.btn-group {
  display: flex;
  justify-content: center;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 280px;
  margin-bottom: 280px;
  
}


