#intro {
  background-image: url("../assets/images/tech.jpg");
  background-repeat: no-repeat;
 
	

	
 
}

.navbar {
  font-family: "copperplate", fantasy;
}

.navbar-custom {
  background-color: lightsteelblue;
}

.navbar-brand {
  color: #0f57bd;
  font-size: 40px !important;
}



.btn-group {
  display: flex;
  justify-content: center;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 280px;
  margin-bottom: 280px;
  
}


